.below-site-header-outlet.banner-connector {
  .custom-homepage-wrapper {
    background: url($meta_bg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 2em 0;
    margin-top: 1em;
    @media screen and (max-width: 900px) {
      background-size: cover;
      background-position-x: right;
      background-position-y: bottom;
      padding: 2em 0 0;
    }
  }

  .welcome-wrapper {
    margin-top: 2em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    box-shadow: shadow("card");
    max-width: 930px;
    margin: 2em auto 0.5em;
    background: var(--secondary);

    .featured-todo {
      background: var(--secondary);
      display: flex;
      justify-content: space-between;

      svg {
        transition: color 0.25s;
      }

      > div {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-grow: 1;

        svg {
          display: block;
          font-size: 1.75em;
          margin: 0 auto 0.25em auto;
        }

        a {
          transition: all 0.25s;
          width: 100%;
          padding: 2em;
          color: var(--primary);

          .d-icon {
            color: var(--primary-high);
            margin-bottom: 0.35em;
          }

          &:hover {
            color: var(--tertiary);
            text-decoration: underline;
            .d-icon {
              color: var(--tertiary);
            }
          }
        }

        h3 {
          font-weight: normal;
          white-space: nowrap;
          line-height: 1.2;
          margin: 0;
        }
      }
    }

    h2 {
      font-size: 1.75em;
    }

    .welcome-content {
      background: var(--secondary);
      max-width: 375px;
      text-align: left;
      padding: 2.5em 2em 3em;

      h2 {
      }

      p {
        margin-bottom: 0;
      }
    }

    @media screen and (max-width: 930px) {
      flex-wrap: wrap;
      max-width: 650px;

      p {
        max-width: 500px;
      }

      .welcome-content {
        max-width: unset;
        text-align: center;
        padding: 1em;
      }

      .featured-todo {
        padding: 0 0 2em;
      }
    }

    @media screen and (max-width: 600px) {
      padding: 2em;
    }

    @media screen and (min-width: 550px) {
      .featured-todo > div:nth-of-type(2) a {
        border-left: 1px solid var(--primary-low);
        border-right: 1px solid var(--primary-low);
      }
    }

    @media screen and (max-width: 550px) {
      max-width: 80%;
      padding: 0;

      .featured-todo {
        padding: 0.5em;
        flex-grow: 1;

        > div {
          width: 50px;
          margin: 0 auto;

          svg {
            font-size: 1.25em;
          }

          h3 {
            font-size: var(--font-down-1);
            white-space: unset;
          }

          a {
            padding: 0.5em;
          }

          &:nth-of-type(2) {
            border-left: 1px solid var(--primary-low);
            border-right: 1px solid var(--primary-low);
          }
        }
      }
    }
  }
}
