.below-site-header-outlet.banner-connector {
  padding-top: 2em;

  .welcome-wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    .featured-todo {
      background: var(--tertiary-low);
      display: flex;
      justify-content: space-between;

      svg {
        transition: color 0.25s;
      }

      > div {
        align-items: center;
        background: var(--tertiary-low);
        display: flex;
        justify-content: center;
        text-align: center;
        width: 33.3%;

        svg {
          display: block;
          font-size: 1.75em;
          margin: 0 auto 0.25em auto;
        }

        a {
          transition: color 0.25s;
          width: 100%;
          &:hover {
            color: var(--primary);
            svg {
              color: var(--primary-high);
            }
          }
        }

        h3 {
          font-weight: normal;
          line-height: 1.2;
          margin: 0;
          padding: 1em;
        }
      }
    }

    h2 {
      font-size: 1.75em;
    }

    .welcome-content {
      background: var(--secondary);
      max-width: 375px;
      padding: 2em;
      text-align: left;

      p {
        margin-bottom: 0;
      }
    }

    @media screen and (max-width: 930px) {
      flex-wrap: wrap;

      .welcome-content {
        max-width: unset !important;
        text-align: center !important;
        width: 100%;
      }

      .featured-todo {
        padding: 1.5em 0;
        width: 100%;
      }
    }

    @media screen and (max-width: 600px) {
      padding: 2em;
    }

    @media screen and (min-width: 550px) {
      .featured-todo > div:nth-of-type(2) {
        border-left: 1px solid var(--secondary-high);
        border-right: 1px solid var(--secondary-high);
      }
    }

    @media screen and (max-width: 550px) {
      .featured-todo {
        flex-direction: column;
        padding: 0.5em;

        > div {
          width: 100% !important;

          &:nth-of-type(2) {
            border-bottom: 1px solid var(--secondary-high);
            border-top: 1px solid var(--secondary-high);
          }
        }
      }
    }
  }
}
